h1 {
    color: rgb(0, 0, 0);
    font-size: 45px;
}

#b1,
#b2,
#b3,
#b4,
#b5,
#b6,
#b7,
#b8,
#b9 {
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid gray;
    border-radius: 7.5px;
    font-size: 30px;
    text-align: center;
}

#button {
    box-sizing: border-box;
    width: 105px;
    height: 70px;
    border: 1px solid rgb(0, 0, 0);
    margin: auto;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#print {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

#main {
    text-align: center;
}